
<div class="card border-info mb-3">
  <div class="card-header">{{title}}</div>
  <div class="card-body">

    <button class="btn btn-primary my-2" routerLink="/students/form">Crear</button>
    <div class="alert alert-info" *ngIf="lists?.length == 0">
      No hay estudiantes registrados en el sistema.
    </div>
    <table class="table table-hover table-striped" *ngIf="lists?.length > 0">
      <thead>
      <tr>
        <th>id</th>
        <th>nombre</th>
        <th>apellido</th>
        <th>email</th>
        <th>creado el</th>
        <th>editar</th>
        <th>eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of lists">
        <td>{{student.id}}</td>
        <td>{{student.name | uppercase}}</td>
        <td>{{student.lastname | uppercase}}</td>
        <td>{{student.email}}</td>
        <td>{{student.createAt | date: 'short'}}</td>
        <td><button class="btn btn-primary btn-sm"
                    [routerLink]="['/students/form', student.id]">Editar</button></td>
        <td><button class="btn btn-danger btn-sm"
                    (click)="delete(student)">Eliminar</button></td>
      </tr>
      </tbody>
    </table>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageable($event)"
                   showFirstLastButtons=""
                   class="float-end mx-2"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</div>


